@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-style: "Roboto", sans-serif;
}

nav {
  height: 80px;
  display: flex;
  margin-top: 24px;
}

img {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.logo__wrapper {
  display: flex;
  align-items: center;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  width: 100px;
  margin-right: 12px;
}

.logo__description {
  margin-left: 10px;
  font-size: 24px;
  font-weight: 700;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

.nav__link {
  margin-left: 16px;
  font-size: 20px;
  font-weight: 200;
  color: black;
  padding: 10px;
}

.nav__link--primary {
  background-color: rgba(88, 19, 199);
  color: white;
  border-radius: 25%;
}

.nav__link--primary:hover {
  background-color: rgba(130, 85, 202);
  text-decoration: none;
  transition: background-color 300ms ease;
}

/*

Header

*/

.header__container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 50px 200px;
}

.header__description {
  font-size: 24px;
  flex-wrap: wrap;
  width: 60%;
}

.purple {
  color: rgba(88, 19, 199);
}

.header__para {
  padding: 20px;
}

.email__wrapper {
  padding: 20px;
}

.header__email {
  font-size: 20px;
  padding: 12px;
  border: 4px solid gray;
  border-radius: 30%;
}

.header__btn {
  background-color: rgba(88, 19, 199);
  font-size: 20px;
  color: white;
  padding: 10px 10px;
  border-radius: 25%;
}

.header__btn:hover {
  background-color: rgba(130, 85, 202);
  text-decoration: none;
  transition: background-color 300ms ease;
}

.img__one {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  height: auto;
  padding: 24px;
}

.img__two {
  display: flex;
  width: 40%;
  height: auto;
}

/*

FEATURES

*/

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.feature__header {
  padding: 12px;
}

.service__header {
  padding: 12px;
}

.service__logo {
  max-width: 100%;
  width: 100px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 24px;
  padding-right: 12px;
  padding-top: 20px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 3);
}

.service__subtitle {
  margin-bottom: 16px;
  text-align: center;
  justify-content: center;
  padding-right: 24px;
}

.service__description {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

/*

QUALITY

*/

.quality {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 64px;
}
.quality__title {
  padding-top: 16px;
  padding-bottom: 12px;
  font-size: 16px;
}

.quality__subtitle {
  padding: 12px;
  font-size: 40px;
}

.quality__para {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  font-size: 16px;
}

.quality__img {
  width: 100%;
  height: auto;
  padding-top: 64px;
}

.quality__btn {
  background-color: rgba(88, 19, 199);
  color: white;
  padding: 12px 4px;
  font-size: 16px;
  width: 100%;
  max-width: 100px;
  cursor: pointer;
  border-radius: 25%;
  margin-top: 12px;
}

.quality__btn:hover {
  background-color: rgba(130, 85, 202);
  text-decoration: none;
  transition: background-color 300ms ease;
}

/*

STEPS

*/

.steps {
  display: flex;
  align-items: right;
  flex-direction: column;
  padding-top: 64px;
}

.steps__img {
  padding-top: 64px;
  padding-right: 24px;
}

.steps__header {
  padding-bottom: 24px;
}

.steps__title {
  list-style-type: decimal-leading-zero;
  text-decoration: none;
  padding-top: 24px;
  font-size: 24px;
  font-weight: 700;
}

.steps__description {
  font-size: 16px;
  font-weight: 500;
}
