@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-style: "Roboto", sans-serif;
}


body{
  max-width: 100vh;
}

nav{
  height: 80px;
  display: flex;
  margin-top: 24px;
}

img {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.logo__wrapper {
  display: flex;
  align-items: center;
}

.nav__container {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  margin: 0 auto;
}


.logo {
  display: flex;
  align-items: center;
  width: 100px;
  margin-right: 12px;
}

.logo__description {
  margin-left: 10px;
  font-size: 24px;
  font-weight: 700;
  
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

.nav__link {
  margin-left: 16px;
  font-size: 20px;
  font-weight: 200; 
  color: black;
  padding: 10px;
}

.nav__link--primary {
  background-color: rgba(88, 19, 199);
  color: white;
  border-radius: 25%;
}

.nav__link--primary:hover {
  background-color: rgba(130, 85, 202);
  text-decoration: none;
  transition: background-color 300ms ease;
}

/*

Header

*/

.header__container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 50px 200px;
}

.header__description {
  font-size: 24px;
}

.purple {
  color: rgba(88, 19, 199)
}

.header__para {
  padding: 20px;
}

.email__wrapper{
  padding: 20px;
}

.header__email {
  font-size: 20px;
  padding:12px;
  border: 4px solid gray;
  border-radius: 30%;
}

.header__btn {
  background-color: rgba(88, 19, 199);
  font-size: 20px;
  color: white;
  padding: 10px 10px;
  border-radius: 25%; 
}

.header__btn:hover {
  background-color: rgba(130, 85, 202);
  text-decoration: none;
  transition: background-color 300ms ease;
}

.img__one {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  height: auto; 
  padding: 24px;
}

.img__two {
  
}